<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="/assets/images/misc/ahs.jpeg" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>

    <!--main buttons-->
    <div class="mt-5">
      <a href="{{ site.cta1_url }}" class="cta-top card wow animated fadeIn lg-screen" data-wow-delay=".25s">
        <div class="card">
          <div class="card-body">
            {{ site.cta1_desc }}
          </div>
        </div>
      </a>
      <a href="{{ site.cta2_url }}" class="cta-bottom card wow animated fadeIn lg-screen" data-wow-delay=".35s">
        <div class="card">
            <div class="card-body">
                {{ site.cta2_desc }}
            </div>
        </div>
    </a>
    </div>

  </div>
</div>